<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Nrlyze reset password</title>
  </head>
  <body style="display: flex; background-color: white">
    <div
      style="width: 100%; max-width: 500px; text-align: center; margin: auto"
    >
      <img
        style="padding-top: 60px; width: 80%"
        src="https://nrlyze-public.eu-central-1.linodeobjects.com/logos/Logo_large.png"
      />

      <h1
        style="
          margin-top: 40px;
          width: 100%;
          display: block;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
          text-align: center;
          font-weight: bold;
        "
      >
        Password has been reset for {{USERNAME}}
      </h1>

      <p
        style="
          margin-top: 60px;
          display: block;
          width: 100%;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 35px;
          align-items: center;
          text-align: center;

          color: #000000;
        "
      >
        Your password has been reset. If this was not made by you please contact
        your administrator.
      </p>
      <a
        href="{{RESET_URL}}"
        class="button"
        style="
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          margin: auto;
          margin-top: 80px;
          display: block;
          width: 100%;
          max-width: 300px;
          border: none;
          padding: 15px;
          background: #18977a;
          border-radius: 20px;
          font-size: large;
          color: white;
        "
      >
        click here to reset
      </a>

      <footer
        style="
          margin-top: 100px;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
        "
      >
        <small>for more information visit</small>
        <br />

        <small>
          <a href="https://www.nrlyze.se/">nrlyze.se</a>
        </small>
      </footer>
    </div>
  </body>
</html>
